<!-- START jumbotron -->
<section class="jumbotron nm pt40 pb40" data-stellar-background-ratio="0.4">
    <!-- pattern + overlay -->
    <div class="overlay darker pattern pattern5"></div>
    <!--/ pattern + overlay -->
     <div class="container">
        <div class="col-md-10 col-md-offset-1">
        <div class="row">
            
            <div class="center">
                <img class="img-circle mb5 mr10 ml5 pull-left mt10" src="/image/logo/cfa-logo-inverse.jpg" alt="" style="height: 150px; width: 150px; opacity: .5">
                </div>
                <h1 class="text-center mb10 mt20 text-white gf_droid">Connecting our community, <u>everywhere</u>.</h1>
                <h3 class="mute text-center mb40 mt0 text-muted gf_droid">
                    334 members worldwide.
                </h3>

                <div class="col-md-12">
                <!-- follower stats -->
                <ul class="nav nav-section nav-justified">
                    <li>
                        <div class="section">
                            <h4 class="nm semibold">312</h4>
                            <p class="nm text-primary">Members</p>
                        </div>
                    </li>
                    <li>
                        <div class="section">
                            <h4 class="nm semibold">112</h4>
                            <p class="nm text-primary">Charterholding Members</p>
                        </div>
                    </li>
                    <li>
                        <div class="section">
                            <h4 class="nm semibold">92</h4>
                            <p class="nm text-primary">L3 Candidates</p>
                        </div>
                    </li>
                    <li>
                        <div class="section">
                            <h4 class="nm semibold">142</h4>
                            <p class="nm text-primary">L2 Candidates</p>
                        </div>
                    </li>
                    <li>
                       <div class="section">
                            <h4 class="nm semibold">212</h4>
                            <p class="nm text-primary">L1 Candidates</p>
                        </div>
                    </li>
                    <li>
                       <div class="section">
                            <h4 class="nm semibold">112</h=4>
                            <p class="nm text-primary">Sitting for L1</p>
                        </div>
                    </li>
                </ul>
                <!--/ follower stats -->
            </div>
        </div>
        </div>
    </div>
</section>
<!--/ END jumbotron -->