<!-- START Toolbar -->
<div class="navbar-toolbar clearfix">
    <!-- START Left nav -->
    <ul class="nav navbar-nav navbar-left">
        <!-- Directory Link  -->
        
        <!--/ Directory Link -->
    </ul>
    <!--/ END Left nav -->

    <!-- START Right nav -->
    <ul class="nav navbar-nav navbar-right">
        <!-- Profile dropdown -->
        <li class="dropdown profile">
            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                <span class="meta">
                    <span class="avatar"><img src="https://media.licdn.com/media/p/2/000/0c3/146/0c64997.jpg" class="img-circle" alt="" /></span>
                    <span class="text hidden-xs hidden-sm pl5">Cordis Stanfield</span>
                    <span class="caret"></span>
                </span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li class="pa15">
                    <h5 class="semibold hidden-xs hidden-sm">
                        <p class="nm">60%</p>
                        <small class="text-muted">Profile complete</small>
                    </h5>
                    <h5 class="semibold hidden-md hidden-lg">
                        <p class="nm">Erich Reyes</p>
                        <small class="text-muted">60% Profile complete</small>
                    </h5>
                    <div class="progress progress-xs nm mt10">
                        <div class="progress-bar progress-bar-warning" style="width: 60%">
                            <span class="sr-only">60% Complete</span>
                        </div>
                    </div>
                </li>
                <li class="divider"></li>
                <li><a href="user_profile.html"><span class="icon"><i class="ico-user-plus2"></i></span> My Profile</a></li>
                <li><a href="edit-profile.html"><span class="icon"><i class="ico-cog4"></i></span> Edit Profile</a></li>
                <li><a href="javascript:void(0);"><span class="icon"><i class="ico-question"></i></span> Help</a></li>
                <li class="divider"></li>
                <li><a href="javascript:void(0);"><span class="icon"><i class="ico-exit"></i></span> Sign Out</a></li>
            </ul>
        </li>
        <!-- Profile dropdown -->
    </ul>
    <!--/ END Right nav -->
</div>
<!--/ END Toolbar -->